<!-- Gigs Section -->
<section class="py-5" id="gigs">
    <div class="container">
        <h2 class="text-center mb-4 h2" >Upcoming Gigs</h2>
        <div class="gigs-container">
            <div class="gig">
                <div class="gig-date">04.03.2024</div>
                <div class="gig-info">
                    <strong>New York City</strong><br>Living it up in Time Square
                </div>
                <div class="gig-time">8:00 PM</div>
            </div>
            <div class="gig">
                <div class="gig-date">04.03.2024</div>
                <div class="gig-info">
                    <strong>New York City</strong><br>Living it up in Time Square
                </div>
                <div class="gig-time">8:00 PM</div>
            </div>
            <!-- Add more gigs here -->
        </div>
        
        
    </div>
</section>