
<!-- Header -->
<header class="bg-dark py-3">
    <div class="container text-center">
        <div class="row">
            <div class="col text-center">
                <h1 class="logo"><a href="index.html" class="text-decoration-none">Daniel Browne</a></h1>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col">
                <ul class="social-icons d-flex justify-content-center">
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="col">
                <!-- Navigation Menu -->
                <nav class="text-center">
                    <ul class="nav justify-content-center">
                        <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Services</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col">
                <!-- Button -->
                <div class="text-center">
                    <li class="nav-item" id="nav-subscribe"><a class="nav-link" href="#">Subscribe</a></li>
                </div>
            </div>
        </div>
        
    </div>
</header>