<section class="py-5" id="music">
    <div class="container text-center">
        <!-- Section Heading -->
        <h2 class="text-center mb-4 h2">Music</h2>
        
        <!-- List of Tracks -->
        <div class="tracks">
            <ul class="tracks-list">
                <li class="track-list-item">
                    <audio controls>
                        <source src="tracks/Dirk Dehler - no rules.mp3" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                    <div class="track-number">1</div>
                    <div class="title">Dirk Dehler - no rules</div>
                    <div class="track-duration">2:45</div>
                </li>
                <li class="track-list-item">
                    <audio controls>
                        <source src="tracks/Dirk Dehler - no rules.mp3" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                    <div class="track-number">1</div>
                    <div class="title">Dirk Dehler - no rules</div>
                    <div class="track-duration">2:45</div>
                </li><li class="track-list-item">
                    <audio controls>
                        <source src="tracks/Dirk Dehler - no rules.mp3" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                    <div class="track-number">1</div>
                    <div class="title">Dirk Dehler - no rules</div>
                    <div class="track-duration">2:45</div>
                </li><li class="track-list-item">
                    <audio controls>
                        <source src="tracks/Dirk Dehler - no rules.mp3" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                    <div class="track-number">1</div>
                    <div class="title">Dirk Dehler - no rules</div>
                    <div class="track-duration">2:45</div>
                </li><li class="track-list-item">
                    <audio controls>
                        <source src="tracks/Dirk Dehler - no rules.mp3" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                    <div class="track-number">1</div>
                    <div class="title">Dirk Dehler - no rules</div>
                    <div class="track-duration">2:45</div>
                </li><li class="track-list-item">
                    <audio controls>
                        <source src="tracks/Dirk Dehler - no rules.mp3" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                    <div class="track-number">1</div>
                    <div class="title">Dirk Dehler - no rules</div>
                    <div class="track-duration">2:45</div>
                </li><li class="track-list-item">
                    <audio controls>
                        <source src="tracks/Dirk Dehler - no rules.mp3" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                    <div class="track-number">1</div>
                    <div class="title">Dirk Dehler - no rules</div>
                    <div class="track-duration">2:45</div>
                </li>
                <!-- Add more track items here -->
            </ul>
        </div>
    </div>
</section>
