<section class="py-5" id="news">
    <div class="container position-relative">
        <img src="images/background.jpg" class="background-img" alt="Background Image">
        <div class="card-overlay d-flex justify-content-center align-items-center">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Card Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="nav-link">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>