<!-- Photos Section -->
<section class="py-5">
    <div class="container">
        <h2 class="text-center mb-4 h2">Photos</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <!-- Photo 1 -->
            <div class="col">
                <div class="card">
                    <img src="images/background.jpg" class="card-img-top" alt="Photo 1">
                </div>
            </div>
            <!-- Photo 2 -->
            <div class="col">
                <div class="card">
                    <img src="images/background.jpg" class="card-img-top" alt="Photo 2">
                </div>
            </div>
            <!-- Photo 3 -->
            <div class="col">
                <div class="card">
                    <img src="images/background.jpg" class="card-img-top" alt="Photo 3">
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="images/background.jpg" class="card-img-top" alt="Photo 1">
                </div>
            </div>
            <!-- Photo 2 -->
            <div class="col">
                <div class="card">
                    <img src="images/background.jpg" class="card-img-top" alt="Photo 2">
                </div>
            </div>
            <!-- Photo 3 -->
            <div class="col">
                <div class="card">
                    <img src="images/background.jpg" class="card-img-top" alt="Photo 3">
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="images/background.jpg" class="card-img-top" alt="Photo 1">
                </div>
            </div>
            <!-- Photo 2 -->
            <div class="col">
                <div class="card">
                    <img src="images/background.jpg" class="card-img-top" alt="Photo 2">
                </div>
            </div>
            <!-- Photo 3 -->
            <div class="col">
                <div class="card">
                    <img src="images/background.jpg" class="card-img-top" alt="Photo 3">
                </div>
            </div>
            <!-- Add more photos here -->
        </div>
    </div>
</section>